<h2><strong>Better Luck Next Time</strong></h2>




<p>Current win streak {{currentWinStreak}}</p>
<p>Best win streak {{bestWinStreak}}</p>

<p><a href="/goFish">Try Again!</a></p>
<p>Or Check Out The <a href="/highScores">HighScores!</a></p>

