<h2><strong>You Win!</strong></h2>
<h1><em><strong>Congratulations</strong></em></h1>



<p>current win streak {{currentWinStreak}}</p>
<p>best win streak {{bestWinStreak}}</p>

<p><a href="/goFish">Play Again and Extend Your Streak!</a></p>

